main {
    font-family: 'Merriweather', serif;
}
body {
    background-color: #E5E5E5;
}
#submit {
    width: 250px;
    height: 50px;
    color: #FAFAFA;
    font-family: 'Merriweather', serif;
    background-color: #59313B;
    border: none;
    box-shadow: 0 0 0 2px #9c717c;
    transition: box-shadow 0.3s ease;
    margin-top: 20px;
}
#submit :hover,
#submit :focus {
  box-shadow: 0 0 0 4px #9c717c;
}

#submit:hover,
#submit:focus {
  transform: scale(1.1);
}
.sum {
    margin-top: 50px;
    color: #40393B;
}
.container {
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.cards-love {
    background-color: #FAFAFA;
    border:2px solid #59313B; 
    width: 410px;
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1 {
    color: #40393B;
}
/*------------------------------------------------------------------------*/
@media all and (max-width:500px) {
    .container {
        max-width: 300px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .cards-love {
        max-width: 300px;
    }
    h1 {
        margin-top: 25px;
        font-size: 17px;
    }
    #submit {
        width: 150px;
        height: 50px;
        font-size: 12px;
        margin: 0;
        margin-top: 35px;
    }
    .sum {
        text-align: center;
        font-size: 12px;
    }
}
